bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
click==8.0.0
colorama==0.4.4
Flask==2.0.0
Flask-DotEnv==0.1.2
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
mysql-connector-python==8.0.26
protobuf==3.17.3
pycparser==2.20
six==1.16.0
Werkzeug==2.0.0
WTForms==2.3.3
